<div fxLayout="row wrap" style="margin-top: 10px !important;">
  <div class="col-sm-10">
    <div class="row" style="padding: 10px;">

            <div class="card-header rounded bg-primary p-0" [ngClass]="true ? 'first': 'second'" style="height: 90px !important;">
              <div class="row ml-0 mr-0 h-100">

                <div class="col-9">
                  <div class="row" style="padding-top: 5px;">
                    <div class="col-12">
                      <h4 class="card-header-title" style="cursor: pointer; color: white; margin-top: 6px;font-size: 26px !important;">
                        Agile
                      </h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="">
                        <span style="border-style: solid; border-color: white; height: 23px; width: 23px; border-radius: 50%; display: inline-block; margin-top: 4px; margin-left: 4px; cursor: pointer; color: white; text-align: center; margin-bottom: 5px !important; background-color: yellow;">5</span>
                        <span style="border-style: solid; border-color: white; height: 23px; width: 23px; border-radius: 50%; display: inline-block; margin-top: 4px; margin-left: 6px; cursor: pointer; color: white; text-align: center; margin-bottom: 5px !important; background-color: black;">18</span>
                        <span style="border-style: solid; border-color: white; height: 23px; width: 23px; border-radius: 50%; display: inline-block; margin-top: 4px; margin-left: 6px; cursor: pointer; color: white; text-align: center; margin-bottom: 5px !important; background-color: red;">3</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-3" style="height: 90px;">
                  <div class="row h-100">
                    <div class="col-12" style="background-color: lightgray; color: black; font-size: large;">
                      <p class="pt-1 pl-0 mb-0">5</p>
                    </div>
                    <div class="col-12" style="background-color: rgb(168, 167, 167); color: black; font-size: large;">
                      <p class="pt-1 pl-0 mb-0">7</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>


            <div class="card-header rounded bg-warning p-0 ml-4" [ngClass]="true ? 'first': 'second'" style="height: 90px !important;">
              <div class="row ml-0 mr-0 h-100">

                <div class="col-9">
                  <div class="row" style="padding-top: 5px;">
                    <div class="col-12">
                      <h4 class="card-header-title" style="cursor: pointer;  color: white; margin-top: 6px;font-size: 26px !important;">
                        Fast
                      </h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div>
                        <span style="border-style: solid; border-color: white; height: 23px; width: 23px; border-radius: 50%; display: inline-block; margin-top: 4px; margin-left: 4px; cursor: pointer; color: white; text-align: center; margin-bottom: 5px !important; background-color: yellow;">2</span>
                        <span style="border-style: solid; border-color: white; height: 23px; width: 23px; border-radius: 50%; display: inline-block; margin-top: 4px; margin-left: 6px; cursor: pointer; color: white; text-align: center; margin-bottom: 5px !important; background-color: black;">16</span>
                        <span style="border-style: solid; border-color: white; height: 23px; width: 23px; border-radius: 50%; display: inline-block; margin-top: 4px; margin-left: 6px; cursor: pointer; color: white; text-align: center; margin-bottom: 5px !important; background-color: red;">1</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-3" style="height: 90px;">
                  <div class="row h-100">
                    <div class="col-12" style="background-color: lightgray; color: black; font-size: large;">
                      <p class="pt-1 pl-0 mb-0">4</p>
                    </div>
                    <div class="col-12" style="background-color: rgb(168, 167, 167); color: black; font-size: large;">
                      <p class="pt-1 pl-0 mb-0">8</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>


            <div class="card-header rounded bg-primary p-0 ml-4" [ngClass]="true ? 'first': 'second'" style="height: 90px !important;">
              <div class="row ml-0 mr-0 h-100">

                <div class="col-9">
                  <div class="row" style="padding-top: 5px;">
                    <div class="col-12">
                      <h4 class="card-header-title" style="cursor: pointer;  color: white; margin-top: 6px;font-size: 26px !important;">
                        ORG
                      </h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div>
                        <span style="border-style: solid; border-color: white; height: 23px; width: 23px; border-radius: 50%; display: inline-block; margin-top: 4px; margin-left: 4px; cursor: pointer; color: white; text-align: center; margin-bottom: 5px !important; background-color: yellow;">3</span>
                        <span style="border-style: solid; border-color: white; height: 23px; width: 23px; border-radius: 50%; display: inline-block; margin-top: 4px; margin-left: 6px; cursor: pointer; color: white; text-align: center; margin-bottom: 5px !important; background-color: black;">12</span>
                        <span style="border-style: solid; border-color: white; height: 23px; width: 23px; border-radius: 50%; display: inline-block; margin-top: 4px; margin-left: 6px; cursor: pointer; color: white; text-align: center; margin-bottom: 5px !important; background-color: red;">1</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-3" style="height: 90px;">
                  <div class="row h-100">
                    <div class="col-12" style="background-color: lightgray; color: black; font-size: large;">
                      <p class="pt-1 pl-0 mb-0">5</p>
                    </div>
                    <div class="col-12" style="background-color: rgb(168, 167, 167); color: black; font-size: large;">
                      <p class="pt-1 pl-0 mb-0">6</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>


            <div class="card-header rounded bg-primary p-0 ml-4" [ngClass]="true ? 'first': 'second'" style="height: 90px !important;">
              <div class="row ml-0 mr-0 h-100">

                <div class="col-9">
                  <div class="row" style="padding-top: 5px;">
                    <div class="col-12">
                      <h4 class="card-header-title" style="cursor: pointer; color: white; margin-top: 6px;font-size: 26px !important;">
                        Auto
                      </h4>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div>
                        <span style="border-style: solid; border-color: white; height: 23px; width: 23px; border-radius: 50%; display: inline-block; margin-top: 4px; margin-left: 4px; cursor: pointer; color: white; text-align: center; margin-bottom: 5px !important; background-color: yellow;">1</span>
                        <span style="border-style: solid; border-color: white; height: 23px; width: 23px; border-radius: 50%; display: inline-block; margin-top: 4px; margin-left: 6px; cursor: pointer; color: white; text-align: center; margin-bottom: 5px !important; background-color: black;">1</span>
                        <span style="border-style: solid; border-color: white; height: 23px; width: 23px; border-radius: 50%; display: inline-block; margin-top: 4px; margin-left: 6px; cursor: pointer; color: white; text-align: center; margin-bottom: 5px !important; background-color: red;">1</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-3" style="height: 90px;">
                  <div class="row h-100">
                    <div class="col-12" style="background-color: lightgray; color: black; font-size: large;">
                      <p class="pt-1 pl-0 mb-0">5</p>
                    </div>
                    <div class="col-12" style="background-color: rgb(168, 167, 167); color: black; font-size: large;">
                      <p class="pt-1 pl-0 mb-0">7</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
  </div>

  <div class="col-sm-12" style="background-color: yellow;color: black;font-size: 20px;
      min-height: 120px;
      height: auto;
      width: 100%; padding: 10px; margin-left: -5px; margin-top: 20px;">
    Drive demand generation via lead partners.
    Focus on Solution Design.
    Add 2 US partners.
    Explore progress opportunities and benchmark solutions via research.
    Do 2 hours of research presentation and Imagine Hour every Sunday.
    Drive specialization and product development through IP projects and cross pollination.
    Other priorities are activity hub, get paid first, digital marketing, portfolio and engineering.
  </div>

</div>



<div class="row pl-2 pr-2 mt-4">

  <div class="col-sm-10 w-100" style="margin-top: 20px;">
    <div class="row">

      <div class="col-sm-6 pr-4">

        <div class="row bg-white bottom-line">
          <div class="mt-1 col-sm-12">
            <h2>Current Situation (GROW)</h2>
          </div>
        </div>

        <div class="row bg-white py-1" style="height:200px !important; font-size: 16px !important;color: gray;resize: none;">
          <p class="mx-1">
            Get Lead Generation sorted through local lead partners with focus on custom software development.
            Drive PPM 3 through committed solution design.
            Drive Youth Leadership and code standards through external mentors.
            <br>
            <br>
            Create a mastermind of 5 to 7 key leaders who run the show across the business.
          </p>
        </div>

      </div>

      <div class="col-sm-6 pl-1">

        <div class="row bg-white bottom-line">
          <div class="mt-1 col-sm-12">
            <h2>Action Plan : NM ()</h2>
          </div>
        </div>

        <div class="row bg-white py-1" style="height:200px !important; font-size: 16px !important;color: gray;resize: none;">
          <p class="mx-1">
              Team of 50 at end of Q2
            <br>
              Team of 60 at end of Q3
            <br>
              Team of 70 at end of Q4
            <br>
            <br>
              Drive Auto Pilot through Digital Transformation.
              Invest First Half on Fast Company on weekdays.
              Drive Product Innovation and Adopt Digital Marketing to pace the growth path.
          </p>
        </div>

      </div>

    </div>

    <div class="row mt-2">

      <div class="col-sm-6 pr-4">

        <div class="row bg-white bottom-line">
          <div class="mt-3 col-sm-12 pb-1">
            <span class="pl-2" style="font-size: 20px; font-weight: 500">KPI Metrics (GROW)</span>
            <h3 class="float-right pl-2 pr-2 mr-2" style="border: 2px solid gray; cursor: pointer;">+</h3>
          </div>
        </div>

        <div class="row bg-white pl-2 pr-3 pb-2 pt-2" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;cursor: pointer;padding: 0%;">
            <div class="row" style="font-size: 20px !important;">
              <div class="col-sm-1 text-center" style="padding: 6px 0px;" matTooltip="Click to toggle the status">
                <span style="color: green !important;margin-top: 5px; padding-left: 20px;"
                  class="material-icons">
                  arrow_upward
                </span>
              </div>
              <div class="col-sm-7" style="padding: 12px 0px;">
                <span>&nbsp;&nbsp;Head Count</span>
              </div>
              <div class="col-sm-2 text-center bg-danger" style="padding: 12px 0px; color: white;">
                <span>&nbsp;&nbsp;2</span>
              </div>
              <div class="col-sm-2 text-center grey" style="padding: 12px 0px; background-color: gray;">
                <span>&nbsp;&nbsp;4</span>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="col-sm-6 pr-1">

        <div class="row bg-white bottom-line">
          <div class="mt-3 col-sm-12 pb-1">
            <span class="pl-2" style="font-size: 20px; font-weight:500;">Challenges (GROW)</span>
            <h3 class="float-right pl-2 pr-2 mr-2" style="border: 2px solid gray; cursor: pointer;">+</h3>
          </div>
        </div>


        <div class="row bg-white pl-1 pr-1 pt-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-4" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/3.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100 pt-1">
                      <h3 class="font-medium mb-0 pl-2" style="font-weight: bold;">RR</h3>
                      <!-- <span class="label label-rounded label-warning">Status</span> -->
                      <button class="btn-success round">Status</button>
                  </div>
                </div>
              </div>

              <div class="col-sm-8" style="padding: 30px 0px 0px 0px;">
                <h2>Design Library not refined</h2>
              </div>

            </div>
          </div>
        </div>


        <div class="row bg-white pl-1 pr-1 pt-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-4" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/d5.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100 pt-1">
                      <h3 class="font-medium mb-0 pl-2" style="font-weight: bold;">RK</h3>
                      <!-- <span class="label label-rounded label-warning">Status</span> -->
                      <button class="btn-warning round">Status</button>
                  </div>
                </div>
              </div>

              <div class="col-sm-8" style="padding: 30px 0px 0px 0px;">
                <h2>Review Odd Even</h2>
              </div>

            </div>
          </div>
        </div>


        <div class="row bg-white pl-1 pr-1 pt-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-4" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/d5.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100 pt-1">
                      <h3 class="font-medium mb-0 pl-2" style="font-weight: bold;">RK</h3>
                      <!-- <span class="label label-rounded label-warning">Status</span> -->
                      <button class="btn-warning round">Status</button>
                  </div>
                </div>
              </div>

              <div class="col-sm-8" style="padding: 30px 0px 0px 0px;">
                <h2>Process Manager Awaited</h2>
              </div>

            </div>
          </div>
        </div>

        <div class="row bg-white pl-1 pr-1 pt-1 pb-4" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-4" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/5.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100 pt-1">
                      <h3 class="font-medium mb-0 pl-2" style="font-weight:bold;">Anji</h3>
                      <!-- <span class="label label-rounded label-primary">Status</span> -->
                      <button class="btn-primary round">Status</button>
                  </div>
                </div>
              </div>

              <div class="col-sm-8" style="padding: 30px 0px 0px 0px;">
                <h2>Add Anji as Technical Leader</h2>
              </div>

            </div>
          </div>
        </div>


      </div>


    </div>
  </div>


  <div class="col-sm-2 w-100">
    <div class="row mt-2 pl-2">

      <div class="col-sm-12 pl-0">
        <button mat-raised-button class="btn btn-md add-dark-hover"
          style="background-color: #229494 !important; padding-inline: 5px; padding-block: 8px; color: white;">
          Save
        </button>
        <button mat-raised-button class="btn btn-md add-dark-hover ml-1" style="background-color:#50636d !important; padding-block: 8px; padding-inline: 5px; color: white;">
          Search
        </button>
      </div>

      <div class="col-sm-12" style="margin-top: 24px !important;margin-left: -11px;font-size: 18px !important;">
        <p>Status:</p>
      </div>

      <div class="col-sm-12 mb-1 mr-5 pl-0" style="cursor: pointer;">
        <div class="bg-success" style="height: 30px !important; width:80% !important;">
          <p class="pl-2" style="color: white; padding-top: 5px; ">Excellent</p>
        </div>
      </div>

      <div class="col-sm-12 mb-1 mr-5 pl-0" style="cursor: pointer;">
        <div class="bg-primary" style="height: 30px !important; width:80% !important;">
          <p class="pl-2" style="color: white; padding-top: 5px; ">Good</p>
        </div>
      </div>

      <div class="col-sm-12 mb-1 mr-5 pl-0" style="cursor: pointer;">
        <div class="bg-warning" style="height: 30px !important; width:80% !important;">
          <p class="pl-2" style="color: white; padding-top: 5px; ">Okay</p>
        </div>
      </div>

      <div class="col-sm-12 mb-1 mr-5 pl-0" style="cursor: pointer;">
        <div class="bg-danger" style="height: 30px !important; width:80% !important;">
          <p class="pl-2" style="color: white; padding-top: 5px; ">Not Okay</p>
        </div>
      </div>


      <div class="col-sm-12" style="margin-top: 24px !important;font-size: 18px !important;">
        <div class="row">
          <p style="margin-left: 2px">Priority:</p>
          <mat-checkbox style="margin-left: 15px;margin-top: 1px;"></mat-checkbox>
        </div>
      </div>

      <div class="col-sm-12" style="margin-top: 10px !important;"></div>

      <div class="col-sm-12" style="margin-top: 14px !important;margin-left: -11px;font-size: 18px !important;">
        <p>Performance:</p>
      </div>

      <div class="col-sm-12"
        style="margin-top: 5px !important;margin-left: -11px;font-size: 18px !important;cursor: pointer;">
        <div class="progress" style="height: 25px;width: 130px;background-color: #cccccc;">
          <div class="progress-bar" role="progressbar" aria-valuenow="percentage" aria-valuemin="0" aria-valuemax="100"
            style="width: 40%;">
            40%
          </div>
        </div>
      </div>

      <div class="col-sm-12" style="margin-top: 40px !important;margin-left: -11px;font-size: 18px !important;">
        <p>History:</p>
      </div>

      <div class="col-sm-12" style="margin-left: -11px;font-size: 18px !important;cursor: pointer;">
        <div class="table-responsive topmargin">
          <table id="example2" class="table table-bordered table-hover" >
            <thead class="tbl-head">
              <tr class="tr-grid-header" style="background-color: royalblue; color: white;">
                <th class="text-center bg-warning" style="font-weight:500;">Date</th>
                <th class="text-center bg-warning" style="font-weight:500;">Score</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td>Jun 1</td>
                <td>4.80</td>
              </tr>

              <tr>
                <td>Apr 11</td>
                <td>4.50</td>
              </tr>

              <tr>
                <td>Apr 2</td>
                <td>3.30</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>


    </div>
  </div>

</div>






<div class="row container-fluid mt-1">
  <div class="col-sm-12 w-100" style="margin-top: 20px;">

    <div class="row">

      <div class="col-sm-6 pr-2">

        <div class="row bg-white bottom-line">
          <div class="mt-3 col-sm-12 pb-1">
            <span class="pl-2" style="font-size: 20px; font-weight:500;">Possibilities (GROW)</span>
            <h3 class="float-right pl-2 pr-2 mr-2" style="border: 2px solid gray; cursor: pointer;">+</h3>
          </div>
        </div>


        <div class="row bg-white pl-1 pr-1 pt-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-4" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/1-old.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100">
                      <h4 class="font-medium" style="font-weight: bold;">Navin Malik</h4>
                      <!-- <span class="label label-rounded" (click)="changeColor11(inst11)"
                        [ngClass]="{'bg-primary': inst11 == 1, 'bg-secondary': inst11 == 2, 'bg-success': inst11 == 3, 'bg-warning': inst11 == 4}"
                      >Status</span> -->

                      <button class="btn round btns" (click)="changeColor11(inst11)"
                      [ngClass]="{'bg-primary': inst11 == 1, 'bg-secondary': inst11 == 2, 'bg-success': inst11 == 3, 'bg-warning': inst11 == 4}" >Status</button>

                  </div>
                </div>
              </div>

              <div class="col-sm-5" style="padding: 20px 0px 0px 0px;">
                <h2>Everyday Progress</h2>
              </div>

              <div class="col-sm-3 text-center bg-secondary text-white">
                <p style="padding-top: 30px;">12 April, 2021</p>
              </div>

            </div>
          </div>
        </div>



        <div class="row bg-white pl-1 pr-1 pt-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-4" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/1-old.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100">
                      <h4 class="font-medium" style="font-weight: bold;">Navin Malik</h4>
                      <!-- <span class="label label-rounded" (click)="changeColor12(inst12)"
                        [ngClass]="{'bg-primary': inst12 == 1, 'bg-secondary': inst12 == 2, 'bg-success': inst12 == 3, 'bg-warning': inst12 == 4}"
                      >Status</span> -->
                      <button class="btn round btns"  (click)="changeColor12(inst12)"
                      [ngClass]="{'bg-primary': inst12 == 1, 'bg-secondary': inst12 == 2, 'bg-success': inst12 == 3, 'bg-warning': inst12 == 4}" >Status</button>
                  </div>
                </div>
              </div>

              <div class="col-sm-5" style="padding: 20px 0px 0px 0px;">
                <h2>Connect the Dots</h2>
              </div>

              <div class="col-sm-3 text-center bg-secondary text-white">
                <p style="padding-top: 30px;">12 April, 2021</p>
              </div>

            </div>
          </div>
        </div>



        <div class="row bg-white pl-1 pr-1 pt-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-4" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/1-old.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100">
                      <h4 class="font-medium" style="font-weight: bold;">Navin Malik</h4>
                      <!-- <span class="label label-rounded" (click)="changeColor13(inst13)"
                        [ngClass]="{'bg-primary': inst13 == 1, 'bg-secondary': inst13 == 2, 'bg-success': inst13 == 3, 'bg-warning': inst13 == 4}"
                      >Status</span> -->

                      <button class="btn round btns"  (click)="changeColor13(inst13)"
                      [ngClass]="{'bg-primary': inst13 == 1, 'bg-secondary': inst13 == 2, 'bg-success': inst13 == 3, 'bg-warning': inst13 == 4}" >Status</button>

                  </div>
                </div>
              </div>

              <div class="col-sm-5" style="padding: 20px 0px 0px 0px;">
                <h2>Body Positive</h2>
              </div>

              <div class="col-sm-3 text-center bg-secondary text-white">
                <p style="padding-top: 30px;">12 April, 2021</p>
              </div>

            </div>
          </div>
        </div>



        <div class="row bg-white pl-1 pr-1 pt-1 pb-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-4" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/1-old.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100">
                      <h4 class="font-medium" style="font-weight: bold;">Navin Malik</h4>
                      <!-- <span class="label label-rounded" (click)="changeColor14(inst14)"
                        [ngClass]="{'bg-primary': inst14 == 1, 'bg-secondary': inst14 == 2, 'bg-success': inst14 == 3, 'bg-warning': inst14 == 4}"
                      >Status</span> -->

                      <button class="btn round btns"  (click)="changeColor14(inst14)"
                      [ngClass]="{'bg-primary': inst14 == 1, 'bg-secondary': inst14 == 2, 'bg-success': inst14 == 3, 'bg-warning': inst14 == 4}" >Status</button>

                  </div>
                </div>
              </div>

              <div class="col-sm-5" style="padding: 30px 0px 0px 0px;">
                <h2>Digital Manifestation</h2>
              </div>

              <div class="col-sm-3 text-center bg-secondary text-white">
                <p style="padding-top: 30px;">12 April, 2021</p>
              </div>

            </div>
          </div>
        </div>

      </div>


      <div class="col-sm-6 pr-4">

        <div class="row bg-white bottom-line">
          <div class="mt-3 col-sm-12 pb-1">
            <span class="pl-2" style="font-size: 20px; font-weight:500;">Dimensions (GROW)</span>
            <h3 class="float-right pl-2 pr-2 mr-2" style="border: 2px solid gray; cursor: pointer;">+</h3>
          </div>
        </div>

        <div class="row bg-white pl-1 pr-1 pt-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-5" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/4.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100">
                      <h3 class="font-medium mb-0" style="font-weight:500;">Anna Mary</h3>
                      <p class="text-info" style="display: block; font-size: 15px;">4 / 5</p>
                      <!-- <span class="label label-rounded" (click)="changeColor1(inst1)"
                        [ngClass]="{'bg-primary': inst1 == 1, 'bg-secondary': inst1 == 2, 'bg-success': inst1 == 3, 'bg-warning': inst1 == 4}"
                      >Status</span> -->
                      <button class="btn round btns"  (click)="changeColor1(inst1)"
                      [ngClass]="{'bg-primary': inst1 == 1, 'bg-secondary': inst1 == 2, 'bg-success': inst1 == 3, 'bg-warning': inst1 == 4}" >Status</button>
                  </div>
                </div>
              </div>

              <div class="col-sm-5" style="padding: 30px 0px 0px 0px;">
                <h2>Lead Generation</h2>
              </div>

              <div class="col-sm-2 text-center" style="padding: 15px 0px 0px 0px;">
                <div class="css-bar css-bar-25 css-bar-primary mb-0">
                  <div class="data-text">
                      <small class="success-rate text-info font-light" style="font-size: small; font-weight: bold;">25
                          <span class="icon">%</span>
                      </small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="row bg-white pl-1 pr-1 pt-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-4" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/3.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100">
                      <h3 class="font-medium mb-0" style="font-weight:500;">RR</h3 >
                      <p class="text-info" style="display: block; font-size: 15px;">7 / 9</p>
                      <!-- <span class="label label-rounded" (click)="changeColor2(inst2)"
                        [ngClass]="{'bg-primary': inst2 == 1, 'bg-secondary': inst2 == 2, 'bg-success': inst2 == 3, 'bg-warning': inst2 == 4}"
                      >Status</span> -->
                    <button class="btn round btns" (click)="changeColor2(inst2)"
                    [ngClass]="{'bg-primary': inst2 == 1, 'bg-secondary': inst2 == 2, 'bg-success': inst2 == 3, 'bg-warning': inst2 == 4}">
                      Status
                    </button>
                    
                    </div>
                </div>
              </div>

              <div class="col-sm-6" style="padding: 30px 0px 0px 0px;">
                <h2>Solution Design</h2>
              </div>

              <div class="col-sm-2 text-center" style="padding: 15px 0px 0px 0px;">
                <div class="css-bar css-bar-10 css-bar-primary mb-0">
                  <div class="data-text">
                      <small class="success-rate text-info font-light" style="font-size: small; font-weight: bold;">10
                          <span class="icon">%</span>
                      </small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="row bg-white pl-1 pr-1 pt-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-5" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/d5.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100">
                      <h3 class="font-medium mb-0" style="font-weight: 500;">Radha Krishna</h3>
                      <p class="text-info" style="display: block; font-size: 15px;">8 / 8</p>
                      <!-- <span class="label label-rounded" (click)="changeColor3(inst3)"
                        [ngClass]="{'bg-primary': inst3 == 1, 'bg-secondary': inst3 == 2, 'bg-success': inst3 == 3, 'bg-warning': inst3 == 4}"
                      >Status</span> -->
                    <button class="btn round btns"  (click)="changeColor3(inst3)"
                    [ngClass]="{'bg-primary': inst3 == 1, 'bg-secondary': inst3 == 2, 'bg-success': inst3 == 3, 'bg-warning': inst3 == 4}" >Status</button>

                    </div>
                </div>
              </div>

              <div class="col-sm-5" style="padding: 30px 0px 0px 0px;">
                <h2>Mentoring</h2>
              </div>

              <div class="col-sm-2 text-center" style="padding: 15px 0px 0px 0px;">
                <div class="css-bar css-bar-25 css-bar-primary mb-0">
                  <div class="data-text">
                      <small class="success-rate text-info font-light" style="font-size: small; font-weight: bold;">25
                          <span class="icon">%</span>
                      </small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="row bg-white pl-1 pr-1 pt-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-5" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/1-old.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100">
                      <h3 class="font-medium mb-0" style="font-weight:500;">Navin Malik</h3>
                      <p class="text-info" style="display: block; font-size: 15px;">7 / 9</p>
                      <!-- <span class="label label-rounded" (click)="changeColor4(inst4)"
                        [ngClass]="{'bg-primary': inst4 == 1, 'bg-secondary': inst4 == 2, 'bg-success': inst4 == 3, 'bg-warning': inst4 == 4}"
                      >Status</span> -->
                    <button class="btn round btns" (click)="changeColor4(inst4)"
                    [ngClass]="{'bg-primary': inst4 == 1, 'bg-secondary': inst4 == 2, 'bg-success': inst4 == 3, 'bg-warning': inst4 == 4}" > Status</button>
                    </div>
                </div>
              </div>

              <div class="col-sm-5" style="padding: 30px 0px 0px 0px;">
                <h2>Auto Pilot</h2>
              </div>

              <div class="col-sm-2 text-center" style="padding: 15px 0px 0px 0px;">
                <div class="css-bar css-bar-40 css-bar-primary mb-0">
                  <div class="data-text">
                      <small class="success-rate text-info font-light" style="font-size: small; font-weight: bold;">40
                          <span class="icon">%</span>
                      </small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="row bg-white pl-1 pr-1 pt-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-4" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/5.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100">
                      <h3 class="font-medium mb-0" style="font-weight: 500;">VAR</h3>
                      <p class="text-info" style="display: block; font-size: 15px;">4 / 7</p>
                      <!-- <span class="label label-rounded" (click)="changeColor5(inst5)"
                        [ngClass]="{'bg-primary': inst5 == 1, 'bg-secondary': inst5 == 2, 'bg-success': inst5 == 3, 'bg-warning': inst5 == 4}"
                      >Status</span> -->
                    
                      <button class="btn round btns" (click)="changeColor5(inst5)"
                      [ngClass]="{'bg-primary': inst5 == 1, 'bg-secondary': inst5 == 2, 'bg-success': inst5 == 3, 'bg-warning': inst5 == 4}"> 
                    Status
                    </button>

                    </div>
                </div>
              </div>

              <div class="col-sm-6" style="padding: 30px 0px 0px 0px;">
                <h2>Product Innovation</h2>
              </div>

              <div class="col-sm-2 text-center" style="padding: 15px 0px 0px 0px;">
                <div class="css-bar css-bar-20 css-bar-primary mb-0">
                  <div class="data-text">
                      <small class="success-rate text-info font-light" style="font-size: small; font-weight: bold;">20
                          <span class="icon">%</span>
                      </small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>


        <div class="row bg-white pl-1 pr-1 pt-1 pb-1" style="padding-right: 20px;">
          <div class="col-sm-12" style="background: #dddddd !important;margin-top: 10px;cursor: pointer;">
            <div class="row" style="font-size: 20px !important;">

              <div class="col-sm-4" style="padding: 12px 0px;">
                <div class="d-flex flex-row comment-row m-t-0">
                  <div class="p-2">
                      <img src="assets/images/users/6.jpg" alt="user" width="50" class="rounded-circle">
                  </div>
                  <div class="comment-text w-100">
                      <h3 class="font-medium mb-0" style="font-weight:500;">Gayatri V</h3>
                      <p class="text-info" style="display: block; font-size: 15px;">3 / 4</p>
                      <!-- <span class="label label-rounded" (click)="changeColor6(inst6)"
                        [ngClass]="{'bg-primary': inst6 == 1, 'bg-secondary': inst6 == 2, 'bg-success': inst6 == 3, 'bg-warning': inst6 == 4}"
                      >Status</span> -->
                    <button class="btn round btns" (click)="changeColor6(inst6)"
                    [ngClass]="{'bg-primary': inst6 == 1, 'bg-secondary': inst6 == 2, 'bg-success': inst6 == 3, 'bg-warning': inst6 == 4}"
                      >Status</button>
                    </div>
                </div>
              </div>

              <div class="col-sm-6" style="padding: 30px 0px 0px 0px;">
                <h2>Digital Marketing</h2>
              </div>

              <div class="col-sm-2 text-center" style="padding: 15px 0px 0px 0px;">
                <div class="css-bar css-bar-20 css-bar-primary mb-0">
                  <div class="data-text">
                      <small class="success-rate text-info font-light" style="font-size: small; font-weight: bold;">20
                          <span class="icon">%</span>
                      </small>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
