<!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <button type="button" class="btn " rippleEffect routerLink="/analytics/dashboard">Dashboard</button> &nbsp;
            <button type="button" class="btn " rippleEffect routerLink="/analytics/constcontact">Constant Contact</button> &nbsp;
            <button type="button" class="btn " rippleEffect routerLink="/analytics/leadsources">Lead Sources</button> &nbsp;
        </div>
    </div>
</div> -->
<!-- <div class="container-fluid">

    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 15px;">
            <div class="pills">
                <ul class="nav nav-pills">
                    <li routerLinkActive="active" routerLink="/analytics/dashboard">
                      <a mat-raised-button class="navtabWidth">
                          Dashboard
                      </a>
                    </li>
                    <li routerLinkActive="active" routerLink="/analytics/constcontact">
                      <a mat-raised-button class="navtabWidth">
                        Constant Contact
                      </a>
                    </li>
                    <li routerLinkActive="active" routerLink="/analytics/leadsources">
                      <a mat-raised-button class="navtabWidth">
                        Lead Sources
                      </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div> -->
<router-outlet></router-outlet> 