<!-- <div class="container-fluid">
    <div class="row">
  
        <div class="col-xs-12" style="margin-bottom: 15px;">
            <div class="pills">
                <ul class="nav nav-pills">
                    <li routerLinkActive="active" routerLink="/analytics/dashboard">
                      <a mat-raised-button class="navtabWidth">
                          Dashboard
                      </a>
                    </li>
                    <li routerLinkActive="active" routerLink="/analytics/constant-contact">
                      <a mat-raised-button class="navtabWidth">
                        Constant Contact
                      </a>
                    </li>
                    <li routerLinkActive="active" routerLink="/analytics/lead-sources">
                      <a mat-raised-button class="navtabWidth">
                        Lead Sources
                      </a>
                    </li>
                </ul>
            </div>
        </div>
  
    </div>
  </div> -->
  
  <app-content-header [contentHeader]="contentHeader"></app-content-header>

  <div class="container-fluid">

    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 15px;">
            <div class="pills">
                <ul class="nav nav-pills">
                    <li routerLinkActive="active" routerLink="/analytics/dashboard">
                      <a mat-raised-button class="navtabWidth">
                          Dashboard
                      </a>
                    </li>
                    <li routerLinkActive="active" routerLink="/analytics/constcontact">
                      <a mat-raised-button class="navtabWidth">
                        Constant Contact
                      </a>
                    </li>
                    <li routerLinkActive="active" routerLink="/analytics/leadsources">
                      <a mat-raised-button class="navtabWidth">
                        Lead Sources
                      </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>

  <div class="card-body pl-0 main">
    <div class="row button-group">
  
        <div class="col-lg-3 col-md-6">
  
            <ul class="list-group" style="color: black;">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    style="background-color: rgb(111, 111, 245); color:white;font-size: 15px;">
                    <!-- <b style="color: white;">Conversations (8)</b> -->
                    Conversations (8)
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Sarah Constructions
                    (1)
  
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Pit N Portal
                    (2)
  
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Prime Build
                    (7)
  
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    NaturaShield
                    (11)
  
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Future Fitouts
                    (14)
  
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Roehl transport
                    (45)
  
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Grindley Construction
                    (63)
  
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    The Storage Box
                    (77)
  
                </li>
            </ul>
        </div>
  
        <div class="col-lg-3 col-md-6">
  
            <ul class="list-group" style="color: black;">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    style="background-color: rgb(111, 111, 245);color: white;font-size: 15px;">
                    <!-- <b style="color: white;">Possibilities (1)</b> -->
                    Possibilities (1)
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Essex Power
                    (8)
  
            </ul>
        </div>
  
  
        <div class="col-lg-3 col-md-6">
  
            <ul class="list-group" style="color: black;">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    style="background-color: rgb(111, 111, 245);color: white;font-size: 15px;">
                    <!-- <b style="color: white;">Opportunities (1)</b> -->
                    Opportunities (1)
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    ARANI
                    (3)
  
  
            </ul>
        </div>
  
        <div class="col-lg-3 col-md-6">
  
            <ul class="list-group" style="color: black;">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    style="background-color: rgb(111, 111, 245); color: white;font-size: 15px;">
                    <!-- <b style="color: white;">Parallel Projects (4)</b> -->
                    Parallel Projects (4)
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Julia Lindenthal
                    (1)
  
  
  
  
  
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Wise Working
                (9)
  
  
  
  
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                MPK Client Portal
                (14)
  
  
  
  
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                BPRO
                (21)
  
            </li>
  
                </ul>
        </div>
  
  
    </div>
  </div>
  