<!-- <div class="container-fluid">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <div class="mt-2 md-2">
        <div class="col-auto">
            <ul style="list-style-type: none;" class="commonlist pull-left">
                <li>
                    <button type="button" class="btn btn-secondary" routerLink="/analytics/dashboard/digital"
                        rippleEffect>Digital</button> &nbsp;
                </li>
                <li>
                    <button type="button" class="btn btn-secondary" routerLink="/analytics/dashboard/conversations"
                        rippleEffect>Conversatitons</button> &nbsp;
                </li>
                <li>
                    <button type="button" class="btn btn-secondary" routerLink="/analytics/dashboard/possibilites"
                        rippleEffect>Possibilites</button> &nbsp;
                </li>
                <li>
                    <button type="button" class="btn btn-secondary" routerLink="/analytics/dashboard/opportunities"
                        rippleEffect>Opportunities</button> &nbsp;
                </li>
                <li>
                    <button type="button" class="btn btn-secondary" routerLink="/analytics/dashboard/parallelprojects"
                        rippleEffect>Parallel Projects</button> &nbsp;
                </li>
                <li>
                    <button type="button" class="btn btn-secondary" routerLink="/analytics/dashboard/ppm"
                        rippleEffect>PPM</button> &nbsp;
                </li>
                <li>
                    <button type="button" class="btn btn-secondary" routerLink="/analytics/dashboard/repeat"
                        rippleEffect>Repeat</button> &nbsp;
                </li>
                <li>
                    <button type="button" class="btn btn-secondary" routerLink="/analytics/dashboard/priority"
                        rippleEffect>Priority</button> &nbsp;
                </li>
                <li>
                    <button type="button" class="btn btn-secondary" routerLink="/analytics/dashboard/ip"
                        rippleEffect>IP</button> &nbsp;
                </li>
            </ul>
        </div>
    </div>
    <div class="md-10">
        <router-outlet></router-outlet>
    </div>
</div> -->
<!-- <app-content-header [contentHeader]="contentHeader"></app-content-header>

<div class="container-fluid">

  <div class="row">
      <div class="col-xs-12" style="margin-bottom: 15px;">
          <div class="pills">
              <ul class="nav nav-pills">
                  <li routerLinkActive="active" routerLink="/analytics/dashboard">
                    <a mat-raised-button class="navtabWidth">
                        Dashboard
                    </a>
                  </li>
                  <li routerLinkActive="active" routerLink="/analytics/constcontact">
                    <a mat-raised-button class="navtabWidth">
                      Constant Contact
                    </a>
                  </li>
                  <li routerLinkActive="active" routerLink="/analytics/leadsources">
                    <a mat-raised-button class="navtabWidth">
                      Lead Sources
                    </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  </div>

<div class="row mt-1 pills2">

    <div class="col-sm-2 pl-0 ">
      <div class="pills ">
        <ul class="nav nav-pills" style="width: 100%;">
            <li class="ml-0 mb-2" routerLinkActive="active" routerLink="/analytics/dashboard/digital" style="width: 100%;">
              <a mat-raised-button class="navtabWidth">
                Digital
              </a>
            </li>
            <li class="ml-0 mb-2" routerLinkActive="active" routerLink="/analytics/dashboard/conversations" style="width: 100%;">
              <a mat-raised-button class="navtabWidth">
                Conversations
              </a>
            </li>
            <li class="ml-0 mb-2" routerLinkActive="active" routerLink="/analytics/dashboard/possibilites" style="width: 100%;">
              <a mat-raised-button class="navtabWidth">
                Possibilities
              </a>
            </li>
            <li class="ml-0 mb-2" routerLinkActive="active" routerLink="/analytics/dashboard/opportunities" style="width: 100%;">
              <a mat-raised-button class="navtabWidth">
                Opportunities
              </a>
            </li>
            <li class="ml-0 mb-2" routerLinkActive="active" routerLink="/analytics/dashboard/parallelprojects" style="width: 100%;">
              <a mat-raised-button class="navtabWidth">
                Parallel Projects
              </a>
            </li>
            <li class="ml-0 mb-2" routerLinkActive="active" routerLink="/analytics/dashboard/ppm" style="width: 100%;">
              <a mat-raised-button class="navtabWidth">
                PPM
              </a>
            </li>
            <li class="ml-0 mb-2" routerLinkActive="active" routerLink="/analytics/dashboard/repeat" style="width: 100%;">
              <a mat-raised-button class="navtabWidth">
                Repeat
              </a>
            </li>
            <li class="ml-0 mb-2" routerLinkActive="active" routerLink="/analytics/dashboard/priority" style="width: 100%;">
              <a mat-raised-button class="navtabWidth">
                Priority
              </a>
            </li>
            <li class="ml-0 mb-2" routerLinkActive="active" routerLink="/analytics/dashboard/ip" style="width: 100%;">
              <a mat-raised-button class="navtabWidth">
                IP
              </a>
            </li>
        </ul>
      </div>

    </div>

    <div class="col-sm-10">
      <router-outlet></router-outlet>
    </div>
  </div> -->