<div class="container">
    <div class="row">
        <div class="col-sm-6  m-0 p-0" >
            <!-- <button type="button" class="btn btn-gradient-primary" routerLink='/meetings'>Grid View</button>&nbsp;
            <button type="button" class="btn btn-gradient-primary" routerLink='/meetings/calender'>Calendar View</button> -->
            <div class="pills">
                <ul class="nav nav-pills">
                  <li routerLinkActive="active" routerLink="/meetings/">
                    <a mat-raised-button class="navtabWidth">
                      Grid View
                              </a>
                    <!-- <button type="button" class="btn btn-outline-primary" rippleEffect>
                      <span [data-feather]="'home'" [class]="'mr-25'"></span>Dashboard</button> -->
                  </li>&nbsp;
                  <li routerLinkActive="active" routerLink="/meetings/calender">
                    <a mat-raised-button class="navtabWidth">
                      Calendar View
                              </a>
                    <!-- <button type="button" class="btn btn-outline-primary" rippleEffect>
                      <span [data-feather]="'users'" [class]="'mr-25'"></span>Constant Contact</button> -->
                  </li>&nbsp;
                </ul>
              </div>
        </div>
        <div class="col-sm-6  m-0 p-0 pr-0" >
            <button class="btn btn-relief-dark float-right"
            style="height: 40px;border-radius: 5px;margin-right: 0px;" (click)="openn(addOpportunityModal)">
            <i class="fa fa-plus"></i> Add Meeting
        </button>
            <button class="btn btn-relief-secondary text-white float-right"
                style="height: 40px;border-radius: 5px;margin-right: 15px;" (click)="filterToggle = !filterToggle">
                <i class="fa fa-align-justify"></i> Filter
            </button>
           
            <button class="btn btn-relief-secondary text-white float-right"
                style="height: 40px;border-radius: 5px;margin-right: 15px;" (click)="open(addContactModal)">
                <i class="fa fa-th"></i> Grid Columns
            </button>
        </div>
    </div>

<div class="row mt-1" fxLayout="row wrap" *ngIf="filterToggle">
    <div class="col-sm-12 m-0 p-0">
        <div class="card" style="margin-top: 0px;">
            <form class="form-horizontal r-separator">
                <div class="card-body">
                    <div class="row">
                        <div class="col ">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Search
                                    by Lead:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="inputEmail3"
                                        placeholder="Search by Lead">
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Search
                                    by Country:</label>
                                <div class="col-sm-8">
                                    <ng-multiselect-dropdown [placeholder]="'--Search by Country--'" [data]="Countries"
                                        [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Search
                                    by Industry:</label>
                                <div class="col-sm-8">
                                    <ng-multiselect-dropdown [placeholder]="'--Search by Industry--'"
                                        [data]="Industries" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Search
                                    by BD Name:</label>
                                <div class="col-sm-8">
                                    <ng-multiselect-dropdown [placeholder]="'--Search by BD Name--'" [data]="BDNames"
                                        [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Search
                                    by Tag:</label>
                                <div class="col-sm-8">
                                    <ng-multiselect-dropdown [placeholder]="'--Search by Tag--'" [data]="Tags"
                                        [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Search
                                    by Solution:</label>
                                <div class="col-sm-8">
                                    <ng-multiselect-dropdown [placeholder]="'--Search by Solution--'" [data]="Solutions"
                                        [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Search
                                    by Status:</label>
                                <div class="col-sm-8">
                                    <ng-multiselect-dropdown [placeholder]="'--Search by Status--'" [data]="Status"
                                        [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Search
                                    by Head Count:</label>
                                <div class="col-sm-8">
                                    <ng-multiselect-dropdown [placeholder]="'--Search by Head Count--'"
                                        [data]="HeadCount" [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Select
                                    Date Type:</label>
                                <div class="col-sm-8">
                                    <ng-multiselect-dropdown [placeholder]="'--Select Date Type--'" [data]="Datetypes"
                                        [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Select
                                    Start Date:</label>
                                <div class="col-sm-8">
                                    <div class="input-group-append">
                                        <input class="form-control" placeholder="--Select Start Date--" name="d1"
                                            #c1="ngModel" [(ngModel)]="model11" ngbDatepicker #d1="ngbDatepicker">
                                        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()"
                                            type="button"><i class="fa fa-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Select
                                    End Date:</label>
                                <div class="col-sm-8">
                                    <div class="input-group-append">
                                        <input class="form-control" placeholder="--Select End Date--" name="d2"
                                            #c2="ngModel" [(ngModel)]="model11" ngbDatepicker #d2="ngbDatepicker">
                                        <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()"
                                            type="button"><i class="fa fa-calendar"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <div class="custom-control custom-checkbox" style="margin-left: 30px;">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Show only Priority</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Search
                                    by SD Name::</label>
                                <div class="col-sm-8">
                                    <ng-multiselect-dropdown [placeholder]="'--Search by SD Name--'" [data]="SDName"
                                        [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">Search
                                    by RM Name:</label>
                                <div class="col-sm-8">
                                    <ng-multiselect-dropdown [placeholder]="'--Search by RM Name --'" [data]="RMName"
                                        [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                        (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <div class="custom-control custom-checkbox" style="margin-left: 30px;">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Show Target Leads</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body mt-0">
                    <div class="form-group m-b-0 text-right" style="margin-right: 50px;">
                        <button type="submit" class="btn btn-relief-success"
                            style="margin-right: 15px;">Save</button>
                        <button type="submit" class="btn btn-relief-dark"
                        (click)="filterToggle = !filterToggle">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Grid Modal -->
<ng-template #addContactModal let-modal>
    <div class="modal-header ">
        <h2 class="modal-title d-flex ml-1 m-0 p-0" id="modal-basic-title">Grid View Configuration</h2>
        <button type="button" class="close mt-0" style="margin-right: 0px; margin-top: 0px;" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- <p>Please select the required columns in the grid, to view grid with specific columns</p> -->

    <h3 class="card-title mt-2" style="margin-left:39px;">Please select the required columns in the grid, to view
        grid with specific columns</h3>
    <ul class="checkboxes">
        <li><input type="checkbox" /> Contact Name </li>
        <li><input type="checkbox" /> Business Name</li>
        <li><input type="checkbox" /> Subject</li>
    </ul>
    <ul class="checkboxes">
        <li><input type="checkbox" /> Meeting Type</li>
        <li><input type="checkbox" /> Country</li>
        <li><input type="checkbox" /> Date</li>

    </ul>
    <ul class="checkboxes">
        <li><input type="checkbox" /> Time</li>
        <li><input type="checkbox" /> Duration</li>
        <li><input type="checkbox" /> Notes</li>
    </ul>
    <ul class="checkboxes">
        <li><input type="checkbox" /> Time Zone</li>
        <li><input type="checkbox" /> Location</li>
        <li><input type="checkbox" /> Actions</li>
    </ul>

    <div>
        <div class="row">
            <div class="col">
                <div class="float-right m-2">
                    <button type="submit" class="btn btn-relief-success" style="margin-right: 10px;">Configure</button>
                    <button type="button" class="btn btn-relief-dark"
                    (click)="modal.close('Accept click')">Close</button>
            
                </div>
                
            </div>
        </div>
        
    </div>
</ng-template>

<!-- Meeting Modal -->
<ng-template #addOpportunityModal let-modal>
    <div class="modal-header">
        <h2 class="modal-title m-0 p-0" id="modal-basic-title">Add Meeting</h2>
        <button type="button" class="close" style="margin-right: 3px; margin-top: -1px;" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form class="form-horizontal r-separator">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 mt-0 text-left control-label col-form-label">Opportunity
                            Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputEmail3"
                                placeholder="Enter Opportunity Name">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 mt-0 text-left control-label col-form-label">RM
                            Name:</label>
                        <div class="col-sm-8">
                            <ng-multiselect-dropdown [placeholder]="'--Search RM Name--'" [data]="RMName"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 mt-0 text-left control-label col-form-label">Opportunity
                            Code:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputEmail3"
                                placeholder="Enter Opportunity Code">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 mt-0 text-left control-label col-form-label">Campaign
                            Name:</label>
                        <div class="col-sm-8">
                            <ng-multiselect-dropdown [placeholder]="'--Search by Tag--'" [data]="CampaignName"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 mt-0 text-left control-label col-form-label">Contact
                            Number:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Enter Contact Number">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3"
                            class="col-sm-4 mt-0 text-left control-label col-form-label">Industry:</label>
                        <div class="col-sm-8">
                            <ng-multiselect-dropdown [placeholder]="'--Select Date Type--'" [data]="Industry"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 mt-0 text-left control-label col-form-label">Email:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Enter Contact Number">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 mt-0 text-left control-label col-form-label">URL: </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Enter Company URL">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 mt-0 text-left control-label col-form-label">BD Name:
                            :</label>
                        <div class="col-sm-8">
                            <ng-multiselect-dropdown [placeholder]="'--Search by Status--'" [data]="BDName"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 mt-0 text-left control-label col-form-label">Contact Name:
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputEmail3" placeholder="Enter Contact Name">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 mt-0 text-left control-label col-form-label">SD Name
                            :</label>
                        <div class="col-sm-8">
                            <ng-multiselect-dropdown [placeholder]="'--Search by Status--'" [data]="SDName"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 mt-0 text-left control-label col-form-label">ETS Date:
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group-append">
                                <input class="form-control" placeholder="MM/DD/YY" name="d1" #c1="ngModel"
                                    [(ngModel)]="model11" ngbDatepicker #d1="ngbDatepicker">
                                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()"
                                    type="button"><i class="fa fa-calendar"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3"
                            class="col-sm-4 mt-0 text-left control-label col-form-label">Potential:</label>
                        <div class="col-sm-8">
                            <ng-multiselect-dropdown [placeholder]="'--Select Potential--'" [data]="Potential"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 mt-0 text-left control-label col-form-label">Head Count:
                        </label>
                        <div class="col-sm-8">
                            <ng-multiselect-dropdown [placeholder]="'--Select Head Count--'" [data]="HeadCount"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row m-1">
            <div class="col-sm-12 m-0 p-0">
                <button type="button" class="btn btn-relief-dark float-right"
                (click)="modal.close('Accept click')" style="margin-left: 10px;">Close</button>
                <button type="submit" class="btn btn-relief-success float-right">Save</button>
            </div>
        </div>
    </form>

</ng-template>
<div class="row mt-2" id="table-responsive">
    <div class="col-sm-12 p-0 m-0">
      <div class="card">
        <div class="table-responsive">
            <table matSort id="example2" class="table table-hover table-bordered">
                <thead class="tbl-head">
                    <tr>
                        <th class="" style="width: 250px !important; background: white;">Contact Name</th>
                        <th class="" style="width: 250px !important;  background: white;">Business Name</th>
                        <th class="" style="width: 150px !important;  background: white;">Subject</th>
                        <th class="" style="width: 200px !important;  background: white;">Meeting Type</th>
                        <th class="" style="width: 200px !important;  background: white;">Country</th>
                        <th class="" style="width: 150px !important;  background: white;">Date</th>
                        <th class="" style="width: 150px !important;  background: white;">Time</th>
                        <th class="" style="width: 200px !important;  background: white;">Duration</th>
                        <th class="" style="width: 150px !important;  background: white;">Notes</th>
                        <th class="" style="width: 200px !important;  background: white;">Time Zone</th>
                        <th class="" style="width: 200px !important;  background: white;">Location</th>
                        <th class="" style="width: 200px !important;  background: white;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr>
                        <td> No records found</td>
                    </tr> -->
                    <tr *ngFor="let item of items" class="bg-white">
                        <td>{{ item.contact }}</td>
                        <td>{{ item.business }}</td>
                        <td>{{ item.subject }}</td>
                        <td>{{ item.meeting }}</td>
                        <td>{{ item.country }}</td>
                        <td>{{ item.date }}</td>
                        <td>{{ item.time }}</td>
                        <td>{{ item.duration }}</td>
                        <td>{{ item.notes }}</td>
                        <td>{{ item.tz }}</td>
                        <td>{{ item.location }}</td>
                        <td style="text-align: center;">
                          <a href="javascript: void(0);" class="link mr-2"
                            placement="top" ngbTooltip="Edit User">
                            <i name="edit-2" class="fa fa-edit" style="cursor: pointer;margin-right:10px;color: cornflowerblue"></i>
                          </a>

                          <a mwlConfirmationPopover
                              type="button"
                              popoverTitle="Confirm Delete"
                              popoverMessage="Are you sure you want to Delete.?"
                              placement="left"
                              (confirm)="deleteUser(user.id)"
                              (cancel)="cancelClicked = true"
                              ngbTooltip="Delete User"
                              style="margin-right: -5px;">
                              <i name="trash-2" class="fa fa-trash red" style="cursor: pointer;color: rgb(241, 44, 44);margin-left: -30px;"></i>
                          </a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>
