.kanban-table-container {
    width: 100%!important;
    overflow: hidden !important;
    display: flex;

  }
  .kanban-header{
    // background-color: rgb(209, 209, 209);
    
    // #775af8 !important;
    // color: rgb(0, 0, 0) !important;
    text-align: center !important;
    font-weight: 500 !important;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    line-height: 50px;
    min-width: 200px;
    max-width: 220px;
    border-right: 5px solid #ddd;
  }
  .outer{
  background-color: #f5f5f5;
  height: 80vh;
    vertical-align: top;
    overflow: hidden;
    text-align: center;
    width: 50px;
    box-sizing: border-box;
    border-right: 5px solid #ddd;
    border-left: 5px solid #ddd;
  }
  .inner{
  color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
    transform: rotate(90deg) translate(30px);
    white-space: nowrap;
  }
  .kanban-item-container {
    /* background-color: rgb(189, 215, 238); */
    height: 500px !important;
    overflow: auto;
    min-width: 186px;
    max-width: 220px;
    background: white;
  }
  .kanban-table {
    min-width: 190px !important;
    max-width: 220px !important;
    height: 100%;
  }
  .collapse {
  min-width: 40px !important;
  max-width: 400px !important;
  height: 100%;
  }
  .vericaltext{
  width:1px;
  word-wrap: break-word;
  font-family: monospace; /* this is just for good looks */
  }

  .kanban-item {
    cursor: pointer;
    touch-action: none;
    position: relative;
    top: 0;
    padding: 8px;
    background-color: rgb(236, 236, 236) !important;
    /* width: 95%; */
    height: auto;
    max-width: 200px !important;
    min-width: 200px !important;
    margin: 10px 10px 0px 10px;
    box-shadow: rgb(204, 204, 204) 2px 2px 5px;
    // border-right: 4px solid orange;
    // border-left: 4px solid aqua;
    border-radius: 6px!important;
  }
  .mat-menu-item {
    line-height:28px !important;
    height: 28px !important;
  }
  .mat-menu-item:hover {
    background-color: #ddd !important;
  }

  :host {

    display: block;
    box-sizing: border-box;
  }

  pre {

    text-align: center;
    padding: 8px;
  }

  .mat-list-item {

    margin: 2px;
    border: 1px solid gray;
  }

  .dndList {

    transition: all 300ms ease;
    height: 500px;
    min-height: 200px;

    overflow-y: auto;

  }



  .dndDraggingSource {

    display: none;
  }

  .dndPlaceholder {

    min-height: 150px;
    border: 2px dotted #fff;
    background-color: rgb(189, 215, 238);
  }

  .pills>.nav>li>a {
    border-radius: 4px;
    background: white !important;
    margin-right: 7px;
    font-size: 15px;
    min-width: 64px;
    line-height: 40px;
    padding: 0 16px;
    font-weight: 500;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .pills>.nav>li.active>a { 
    background: #775af8 !important;
    color: #ffffff;
  }

  .pills>.nav>li>a:hover {
    color: #ffffff;
    background: #9780ff !important;
  }

  .pills>.nav>li.active>a:hover { 
    color: #ffffff;
    background: #775af8 !important;
  }

  .filterMargin {
    margin-top: 10px;
  }

  .cap-names {
    margin-top: 5px;
    font-size: 12px;
    padding: 2px;
}

.horiScroll {
  width: 30em;
  overflow-x: auto;
  white-space: nowrap;
}
.datediff {
  background-color:gray;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  font-size: 20px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.datediff1{
  background-color:rgb(73, 255, 143);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}