
.back-grey {
    background-color: lightgrey !important;
    color: black !important;
  }
  
  .first {
    border-right-color: #02075d;
    border-left-color: #02075d;
    border-top-color: #02075d;
    border-bottom-color: #02075d;
    border-width: thin;
     background: black !important;
    color: black !important;
  }
  
  .non-selected {
    opacity: 0.3;
    color: black !important;
  }
  
  .gauge-chart__label {
    font-size: 20px !important;
    font-weight: 500;
  }
  
  .sample-container {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
  }
  
  .sample-control {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .sample-button {
    margin-bottom: 5px;
    margin-right: 10px;
    height: 30px;
    font: "12px 'Titillium Web', sans-serif";
  }
  
  .valueText {
    font-size: 35;
    text-align: center;
    background-color: #ffffff;
    padding-top: 0;
    border-style: none;
    font-weight: bold;
    color: #555555;
  }
  
  .tickText {
    font-size: 11;
    color: #555555;
  }
  
  .main-section {
  margin-top: 30px;
  font-family: "Abel", sans-serif;
  }
  
  .card-header {
  box-shadow: 1px 5px 15px #a2a2a2;
  }
  
  .card-header-add {
  background: #e6dada;
  }
  
  .card-header-first {
  background: linear-gradient(-90deg, #9400d3, rgba(148, 0, 211, 0.48));
  }
  
  .card-header-second {
  background: linear-gradient(to right, #4b6cb7, #1c3058);
  }
  
  .card-header-third {
  background-image: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
  }
  
  .card-header-four {
  background: linear-gradient(to right, #11998e, #38ef7d);
  }
  
  .card-header-five {
  background: linear-gradient(-90deg, #f9d56e, #f9d56e);
  color: black;
  }
  
  .card-header-six {
  background: linear-gradient(to right, #f12711, #f5af19);
  }
  
  .card-header-seven {
  background: linear-gradient(to right, #cb2d3e, #ef473a);
  }
  
  .card-section:hover {
  box-shadow: 5px 5px 25px #d2d2d2;
  }
  
  .custom-slider-main{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  
  .mine {
    position: fixed;
    bottom: 80px;
    right: 40px;
    background-color: #e6e6e6 !important;
  }
  
  
  .custom-card{
    background-color: #F5FFFE !important;
  }
  
  .data-text {
    margin: 0 auto;
    position: absolute;
    left: 0;
    z-index: 200;
    right: 0;
    top: 25%;
    text-align: center;
  }
  
  .css-bar {
    height: 50px;
    width: 50px;
  }
  
  .css-bar:after, .css-bar>img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    line-height: 40px;
  }
  