.modal-d{
    background: white;
    // margin: auto;
    width:max-content;
    // right: 0px;
    top: 90px;
    // margin-top: -3px;
  }
  .modal-v{
    width:max-content;
    // position: fixed;
    background: white;
    top: 90px;
  }
  .linkSelected {
    color: #fff !important;
    background: #775af8 !important;
    box-shadow: rgb(224, 224, 224) 2px 2px 30px;
}
.linkSelected .col-sm-7{
  color: #fff !important;
}
.linkSelected .avatar-lg{
  background: white !important;
}
.avatar-lg{
  background: white !important;
}
.td{
  box-shadow: rgb(219, 219, 219) 2px 2px 10px;
}
.data-text {
  margin: 0 auto;
  position: absolute;
  left: 0;
  z-index: 200;
  right: 0;
  top: 25%;
  text-align: center;
}
.css-bar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.css-bar:after, .css-bar>img {
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-top: 5px;
  line-height: 40px;
}

