<app-content-header [contentHeader]="contentHeader"></app-content-header>

<div class="container-fluid">

  <div class="row">
      <div class="col-sm-5 pl-0" style="margin-bottom: 15px;">
          <div class="pills">
              <ul class="nav nav-pills">
                  <li routerLinkActive="active" routerLink="/analytics/dashboard">
                    <a mat-raised-button class="navtabWidth">
                        Dashboard
                    </a>
                  </li>
                  <li routerLinkActive="active" routerLink="/analytics/constcontact">
                    <a mat-raised-button class="navtabWidth">
                      Constant Contact
                    </a>
                  </li>
                  <li routerLinkActive="active" routerLink="/analytics/leadsources">
                    <a mat-raised-button class="navtabWidth">
                      Lead Sources
                    </a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="col-sm-7 pr-0">
        <div class="row float-right">

          <div class="col-sm-4">
            <div class="form-group row">

              <div class="col-sm-12">
                  <input type="text" class="form-control" id="inputEmail3"
                      placeholder="Search by Month">
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form-group row">

              <div class="col-sm-12">
                  <input type="text" class="form-control" id="inputEmail3"
                      placeholder="Search by Year">
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <button type="submit" class="btn btn-info waves-effect waves-light" style="margin-right:10px">Search</button>
            <button type="submit" class="btn btn-dark waves-effect waves-light">Clear</button>
          </div>

        </div>
      </div>
  </div>
  </div>

<div class="container-fluid main">  
    <div class="row mt-3">
  
      <div class="col-sm-8">
        <div id="divQuotesGrid" class="table-responsive" style="margin-left:-14px">
          <table matSort id="example2" class="table table-bordered table-hover">
              <thead class="tbl-head">
                  <tr class=" bg-primary" >
                      <th class="text-center bg-primary text-white">Select</th>
                      <th class="text-left bg-primary text-white">Month</th>
                      <th class="text-left bg-primary text-white">Partner Code</th>
                      <th class="text-left bg-primary text-white">Country</th>
                      <th class="text-left bg-primary text-white">Industry</th>
                      <th class="text-left bg-primary text-white">CPM</th>
                      <th class="text-left bg-primary text-white">P1</th>
                      <th class="text-left bg-primary text-white">P2</th>
                      <th class="text-left bg-primary text-white">P3</th>
                      <th class="text-left bg-primary text-white">P4</th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of totalProjects">
                        <td style="text-align: center!important;"><input type="checkbox"></td>
                        <td style="text-align: left!important;">{{item.month}}</td>
                        <td style="text-align: left!important;">{{item.code}}</td>
                        <td style="text-align: left!important;">{{item.country}}</td>
                        <td style="text-align: left!important;">{{item.industry}}</td>
                        <td style="text-align: left!important;">{{item.cpm}}</td>
                        <td style="text-align: left!important;">{{item.p1}}</td>
                        <td style="text-align: left!important;">{{item.p2}}</td>
                        <td style="text-align: left!important;">{{item.p3}}</td>
                        <td style="text-align: left!important;">{{item.p4}}</td>
                      </tr>
                      <tr>
                        <td style="text-align: center!important; font-weight: bolder;">Total</td>
                        <td style="text-align: center!important; font-weight: bolder;">-</td>
                        <td style="text-align: center!important; font-weight: bolder;">-</td>
                        <td style="text-align: center!important; font-weight: bolder;">-</td>
                        <td style="text-align: center!important; font-weight: bolder;">-</td>
                        <td style="text-align: center!important; font-weight: bolder;">23</td>
                        <td style="text-align: center!important; font-weight: bolder;">13</td>
                        <td style="text-align: center!important; font-weight: bolder;">12</td>
                        <td style="text-align: center!important; font-weight: bolder;">8</td>
                        <td style="text-align: center!important; font-weight: bolder;">2</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
  
  
      <div class="col-sm-4">
  
        <div class="row bg-white pl-3 p-2 btns">
          <div class="pills">
            <ul class="nav nav-pills">
                <li routerLinkActive="active">
                  <button type="button" class="btn btn-primary" rippleEffect (click)="changeDisplayValue(1)" [ngClass]="{'linkSelected': displayValue == 1}">Distribution</button>
                </li>
                <li routerLinkActive="active">
                  <button type="button" class="btn btn-primary" rippleEffect (click)="changeDisplayValue(2)" [ngClass]="{'linkSelected': displayValue == 2}">CONV</button>

                </li>
                <li routerLinkActive="active">
                  <button type="button" class="btn btn-primary" rippleEffect (click)="changeDisplayValue(3)" [ngClass]="{'linkSelected': displayValue == 3}">Monthly Trend</button>
                </li>
            </ul>
          </div>
        </div>
  
  
        <div class="row" *ngIf="displayValue == 1">
          <div class="col-sm-12">
            <div class="row bg-white pl-2 pt-0">
              <div class="pills">
                <ul class="nav nav-pills">
                    <li routerLinkActive="active">
                      <a mat-raised-button class="navtabWidth" (click)="changeBottomDisplayValue(1)" [ngClass]="{'linkSelected': bottomDisplayValue == 1}">
                          CPM
                      </a>
                    </li>
                    <li routerLinkActive="active">
                      <a mat-raised-button class="navtabWidth" (click)="changeBottomDisplayValue(2)" [ngClass]="{'linkSelected': bottomDisplayValue == 2}">
                        P1
                      </a>
                    </li>
                    <li routerLinkActive="active">
                      <a mat-raised-button class="navtabWidth" (click)="changeBottomDisplayValue(3)" [ngClass]="{'linkSelected': bottomDisplayValue == 3}">
                        P2
                      </a>
                    </li>
                    <li routerLinkActive="active">
                      <a mat-raised-button class="navtabWidth" (click)="changeBottomDisplayValue(4)" [ngClass]="{'linkSelected': bottomDisplayValue == 4}">
                        P3
                      </a>
                    </li>
                    <li routerLinkActive="active">
                      <a mat-raised-button class="navtabWidth" (click)="changeBottomDisplayValue(5)" [ngClass]="{'linkSelected': bottomDisplayValue == 5}">
                        P4
                      </a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-12 bg-white">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">Distribution by Industry</h4>
                    <ngx-charts-pie-chart class="chart-container" [scheme]="colorScheme" [results]="eight" [legend]="showLegend" [explodeSlices]="explodeSlices"
                        [labels]="showLabels" [doughnut]="doughnut" [arcWidth]="arcWidth" (legendLabelClick)="onLegendLabelClick($event)"
                        [gradient]="gradient" [tooltipDisabled]="tooltipDisabled" (select)="select($event)">
                    </ngx-charts-pie-chart>
                </div>
            </div>
          </div>
        </div>
  
        <div class="row" *ngIf="displayValue == 2">
          <div class="col-md-12 bg-white">
            <div class="card">
                <div class="card-body">
                    <!-- <h4 class="card-title text-center">Yearly Data</h4> -->
                    <ngx-charts-bar-vertical class="chart-container" [scheme]="colorScheme" [schemeType]="schemeType" [results]="nine" [gradient]="gradient"
                        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                        [tooltipDisabled]="tooltipDisabled" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showGridLines]="showGridLines"
                        [barPadding]="40" [view]="view" [roundDomains]="roundDomains" (select)="select($event)" (legendLabelClick)="onLegendLabelClick($event)">
                    </ngx-charts-bar-vertical>
                </div>
            </div>
          </div>
        </div>
  
        <div class="row" *ngIf="displayValue == 3">
          <div class="col-sm-12 bg-white">
            <div class="card">
              <div class="card-body">
                  <!-- <h4 class="card-title">Line Chart</h4>
                  <h6 class="card-subtitle">This is the simple example of Polar Line Chart</h6> -->
                  <canvas baseChart height="180" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
                      [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                  </canvas>
              </div>
          </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  