.linkSelected {
    color: #fff !important;
    background: #775af8 !important;
    box-shadow: rgb(224, 224, 224) 2px 2px 30px;
}
.modal-d{
    background: white;
    position: fixed;
    // margin: auto;
    width: 500px;
    height: 100%;
    right: 0px;
    top: 0px;
    margin-top: -3px;
  }
  