<div class="container">
  <div class="row">
    <div class="col-sm-12 m-0 p-0" style="margin-bottom: 0px;">
      <div class="pills" >
        <ul class="nav nav-pills">
          <li routerLinkActive="active" routerLink="/analytics/dashboard">
            <a mat-raised-button class="navtabWidth">
              <span [data-feather]="'home'" [class]="'mr-25'"></span>Dashboard
                      </a>
            <!-- <button type="button" class="btn btn-outline-primary" rippleEffect>
              <span [data-feather]="'home'" [class]="'mr-25'"></span>Dashboard</button> -->
          </li>&nbsp;
          <li routerLinkActive="active" routerLink="/analytics/constcontact">
            <a mat-raised-button class="navtabWidth">
              <span [data-feather]="'users'" [class]="'mr-25'"></span> Constant Contact
                      </a>
            <!-- <button type="button" class="btn btn-outline-primary" rippleEffect>
              <span [data-feather]="'users'" [class]="'mr-25'"></span>Constant Contact</button> -->
          </li>&nbsp;
          <li routerLinkActive="active" routerLink="/analytics/leadsources">
            <a mat-raised-button class="navtabWidth">
              <span [data-feather]="'bookmark'" [class]="'mr-25'"></span>  Lead Sources
                      </a>
            <!-- <button type="button" class="btn btn-outline-primary" rippleEffect>
              <span [data-feather]="'bookmark'" [class]="'mr-25'"></span>Lead Sources</button> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
 
  <div class="row mt-3">
    <div class="col-sm-3 pl-0">
      <div class="row" id="table-head">
        <div class="col-12">
          <div class="card">
            <div class="table-striped">
              <table class="table">
                <thead class="thead round">
                  <tr>
                    <th class=" p-1 bg-gradient-secondary">
                      <span class="h5 ml-1 text-white "> Conversations(8)</span>
                    </th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr>
                    <td>
                      <span class="font-weight-bold ">Sarah Constructions (1)</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold ">Pit N Portal (2)</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold ">Prime Build (7)</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold ">NaturaShield (11)</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold ">Future Fitouts (14)</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold ">Roehl transport (45)</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold ">Grindley Construction (63)</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold ">The Storage Box (77)</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="row" id="table-head">
        <div class="col-12">
          <div class="card">
            <div class="table-striped">
              <table class="table">
                <thead class="thead">
                  <tr>
                    <th class="bg-gradient-secondary p-1">
                      <span class="h5 ml-1 text-white ">
                        Possibilities (1)
                      </span></th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr>
                    <td>
                      <span class="font-weight-bold">Essex Power (8)</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="row" id="table-head">
        <div class="col-12">
          <div class="card">
            <div class="table-striped">
              <table class="table">
                <thead class="thead">
                  <tr>
                    <th class="bg-gradient-secondary p-1">
                      <span class="h5 ml-1 text-white ">
                        Opportunities (1)
                      </span></th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr>
                    <td>
                      <span class="font-weight-bold">ARANI (3)</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 pr-0">
      <div class="row" id="table-head">
        <div class="col-12">
          <div class="card">
            <div class="table-striped">
              <table class="table">
                <thead class="thead">
                  <tr >
                    <th class="bg-gradient-secondary p-1">
                      <span class="h5 ml-1 text-white ">
                        Parallel Projects (4)
                      </span></th>
                  </tr>
                </thead>
                <tbody class="">
                  <tr>
                    <td>
                      <span class="font-weight-bold">Julia Lindenthal (1)</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold">Wise Working (9)</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold">MPK Client Portal (14)</span>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="font-weight-bold">BPRO (21)</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>